<% provide(:title, t(".help")) %>

<h1><%= t ".help" %></h1>

<p><%= t ".intro" %>
  <a href="https://www.railstutorial.org/help"><em><%= t ".help_page" %></em></a>
</p>

</p><%= t ".sample_intro" %>
  <a href="https://www.railstutorial.org/book"><em><%= t ".sample_book" %></em></a>
</p>

